.floating-option {
    position: fixed;
    bottom: 4%;
    right: 2%;
    background: #d4e09b;
    border-radius: 9px;
    padding: 7px 25px 7px 22px;
    display: flex;
    gap: 28px;
    z-index: 999;
}

.floating-option span {
    cursor: pointer;
}





.preview-inactive {
    opacity: 50%;
}
 
.live-preview img {
    transition: opacity 0.3s ease-in-out;
}